<div class="container col-sm-6 offset-md-4 h-100">

    <div class="card" style="width: 20rem;">
        <h5 class="card-title"><img src="../../assets/img/logo.png" alt=""></h5>
        <form class="needs-validation" action="http://localhost:8080/users" method="POST" class="card-body">

            <div class="mb-3">
                <label>Nome</label>
                <input type="text" class="form-control" placeholder="" id="nome" name="nome"><br>

                <label>Email</label>
                <input type="email" class="form-control" placeholder="" id="email" name="email"><br>

                <label>Telefone</label>
                <input type="text" class="form-control" placeholder="" id="phone" name="phone"><br>

                <button type="submit" class="btn btn-primary">Login</button>

                <p class="text-center">Desafio Calcme</p>
            </div>
        </form>
    </div>
</div>