<div class="container">

    <div class="card" style="width: 30rem;">
        <h5 class="card-title"><img src="../../assets/img/logo.png" alt=""></h5>
        <form class="card-body">

            <div class="mb-3">
                <label for="nameInput" class="form-label">Nome</label>
                <input type="text" class="form-control" id="nameInput">

                <div class="mb-3">
                    <label for="emailInput" class="form-label">Email</label>
                    <input type="email" class="form-control" id="emailInput">
                </div>
                <div class="mb-3">
                    <label for="passInput" class="form-label">Senha</label>
                    <input type="password" class="form-control" id="passInput">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3">Login</button>
                </div>
            </div>
        </form>
    </div>

</div>